* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@font-face {
    font-family: "roboto slab";
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Helvetica Neue";
   
}

h1 {
    margin: 0px;
    padding: 0px;
}

.article-title {
    text-align: left;
    color: rgb(50, 130, 200);
    font-family: "roboto slab";
    margin-top: 30px;
    font-size: 2.2rem;

}
.articles {
    width: 1200px;
}
.articles p {
    color:rgb(70, 60, 80);
    font-size: 1.2rem;
    margin-top: 30px;
}
h2 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #F8E7E2;
}

header {
    background-color: #212121;
    height: 55px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

#centerContainer{
    height: inherit;
    min-width: 1200px;
    padding: 10px;
    width: 60%;
    color: #F8E7E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand {
    height: 100%;
    min-width: 240px;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;
}

.menu:hover {
    cursor: pointer;
    color:rgb(200, 200, 200);
}

.drop-down {
    position: absolute;
    width: 150px;
    background-color: #212121;
    top: 35px;
    right: 0px;
    justify-items: center;
    flex-direction: column;
    align-items: flex-end;
}

.drop-down .drop-menu {
    color: white;
    padding: 10px;
    text-align: end;
    
}

#searchbar {
    width: 300px;
    height: 100%;
    padding: 0px;
    padding-bottom: 3px;
    font-size: 1.1rem;
    background-color: #212121;
    color: #F8E7E2;
    border: 0px
}
#search-img {
    height: 25px;
    display: inline-block;
    position: relative;
    top: 8px;
}
#search:hover {
    border-bottom:rgb(165, 208, 232) 2px solid;
}
#searchbar:focus{
    outline: none;
}
.account {
    justify-content: flex-end;
}

main {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    

}

#featureDescriptions {
    height: 100%;
}

#welcome {
    min-height: 300px;
    width: 715px;
    background-color: #067FC0;
    background: linear-gradient(0deg, rgba(7,94,142,1) 0%, rgba(29,134,191,1) 48%, rgba(78,151,191,1) 100%);
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    text-align: justify;
}

#welcome h1{
    color: #FFFFFF;
    margin: 0 30px 0 30px;
    font-size: 25px;
    font-family: "Helvetica Neue";
}
#welcome p{
    color: rgb(165, 208, 232);
    margin: 10px 30px 0 30px;
    font-size: 17px;
    font-family: "Helvetica Neue";
}

#about-btn {
    border: 2px solid #FFFFFF;
    height: 50px;
    width: 300px;
    display: flex;
    margin: 30px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Helvetica Neue";
    font-size: 1.2rem;
    border-radius: 5px;
}

#about-btn:hover{
    background-color: #FFFFFF;
    color:#067FC0;
    cursor: pointer;
}

#log-section {
    height: 300px;
    width: 435px;
    background-color: #E7E7E7;
    padding: 25px;
}

#log-section h2{
    color: rgb(44,45,48);
}

#log-section p{
    color: rgb(117, 118, 123);
}
#log-container {
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;

}

.log-btn {
    height: 40px;
    width: 120px;
    border: 2px solid #067FC0;
    color: #067FC0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.log-btn:hover {
    cursor: pointer;
    background-color: #067FC0;
    color:#E7E7E7;
}

.feature {
    width: 380px;
    max-height: 400px;
    background-color: #FFFFFF;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
.feature:hover {
    cursor: pointer;
    background-color: #ffffffbe;
}
#feature-container {
    width: 1200px;
    height: 400px;
   
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.feature-img {
    height: 200px;
    display: block;
    margin: auto;
}
#inventory-img {
    padding: 30px;
}
#profit {
    padding: 30px;
}
.feature h3 {
    margin: 20px;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'arial';
    color: rgb(45, 45, 45);
}
.feature p {
    color: rgb(117, 118, 123);
    margin: 20px;
    text-align: justify;
}
footer {
    height: 40vh;
    width: 100%;
    background-color: #212121;
}

.expand-icon {
    height: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: -3px;
}
/*Media queries for responsive web*/


@media (min-width: 950px) and (max-width: 1200px) {
    #centerContainer {
        width: 95%;
        min-width: 950px;
        justify-content: space-between;
    }
    header {
        width: 100vw;
    }
    .menu {
        display: none;
    }

    #welcome {
        width: 60%;
    }
    #log-section {
        width: 35%;
    }
    .feature {
        width: 30%;
        height: 200px;
    }
    
}

@media (max-width: 949px) {
    #centerContainer {
        width: 100%;
        min-width: 300px;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    #searchbar {
        display: none;
    }
    #welcome {
        width: 100%;
        border-radius: 0;
    }
    #log-section {
        width: 100%;
        border-radius: 0;
    }
    #feature-container {
        display: flex;
        flex-flow: column;
        height: auto;
    }
    .feature {
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-flow: column;
        position: relative;
        padding-right: 300px;
        height: auto;
        min-height: 200px
    }
    .feature-img {
        position: absolute;
        right: 0px;
        height: 100%;
        margin-left: 10px;
        margin-right: 30px;
    }
    #log-container {
        justify-content: flex-end;
        margin-top: 150px;
    }
    .log-btn {
        margin: 0 15px 0 15px;
    }
    #about-btn {
        float: right;
    }
    #brand  {
        width: auto;
        min-width: none;
    }

    #log-container {
        margin-top: 65px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        align-items: center;
        height: 50px;
        width: 100%;
    
    }

    #inventory-img  {
        width: 200px;
        height: 200px;
    }
  
}

